@page
@using WebApplication2.Entity;
@using WebApplication2.Service;
@model WebApplication2.Pages.Statistics.ProductOutOfDateModel
@{

    List<Product> products = ProductService.getProductOutOfDate();
}


@if (products != null && products.Count > 0)
{
        <div>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Company Name</th>
                    <th>Date Of Produce</th>
                    <th>Type</th>
                    <th>Price</th>
                </tr>

            @foreach (var item in products)
            {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td>@item.date</td>
                            <td>@item.company</td>
                            <td>@item.dateOfProduce</td>
                            <td>@item.type</td>
                            <td>@item.price</td>
                        </tr>
            }
            </table>
        </div>
}
