@page
@using WebApplication2.Entity;
@using WebApplication2.Service;
@model WebApplication2.Pages.GoodsReceipt.DeleteGoodsReceiptModel
@{
	GoodsReceipt goodsReceipt = new GoodsReceipt();

	string result = "";

	List<Store> stores = new List<Store>();

	if (Request.Method == "GET")
	{
		string goodsReceiptCode = Request.Query["goodsReceiptCode"];

		goodsReceipt = GoodsReceiptService.getGoodsReceiptDetail(goodsReceiptCode);
		stores = goodsReceipt.stores;

	}

	

	if (Request.Method == "POST")
	{
		string goodsReceiptCode = Request.Query["goodsReceiptCode"];

		GoodsReceiptService.deleteGoodsReceipt(goodsReceiptCode, true);

		Response.Redirect("/GoodsReceipt/Index");
	}

}
<form method="post">
  <label for="fname">Goods Receipt Code :</label><br>
  <input type="text" name="goodsReceiptCode" value="@goodsReceipt.goodsReceiptCode" readonly><br>
  <label for="lname">Date :</label><br>
  <input type="text" name="insertDate" value="@goodsReceipt.insertDate" readonly><br><br>
   <div>
        <table>
            <tr>
                <th>Product Id</th>
                <th>Name Of Product</th>
                <th>Quantity</th>
				<th>Type</th>
                <th>Price</th>
                <th>Total</th>
            </tr>

			@if (stores != null && stores.Count > 0)
			{
				@foreach (var item in stores)
				{
						<tr>
							<td>@item.productId</td>
							<td>@item.productName</td>
							<td>@item.quantity</td>
							<td>@item.typeCd</td>
							<td>@item.price</td>
							<td>@item.total</td>
						</tr>
				}
			}
			
        </table>
  </div>
  <input type="submit" value="Delete">
</form>

<p>
	@result
</p>
